language: node_js
notifications:
  email: false
node_js:
  - '9'
script:
  - npm ci
after_success:
  - npm run travis-deploy-once "npm run semantic-release"
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
